<ion-title>Login</ion-title>
 
<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.senha"></ion-input>
    </ion-item>

  </ion-list>

<button ion-button color="primary" full
(click)="loggar()">Entrar</button>
<br>
<div text-center>
  <a (click)="criarCadastro()"> Fazer cadastro </a>
</div>
</ion-content>
