<ion-header>
  <ion-navbar>
    <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>Iniciando App</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button full icon-left (click)="cadastrarEndereco()">
    <ion-icon name="locate"></ion-icon>
      Cadastrar um endereço para entrega
  </button>
</ion-content>
