<!--
  Generated template for the ClientePrivacidade page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="lock"></ion-icon>
    </button>
    <ion-title>Privacidade</ion-title>
    
    <ion-buttons end>
      <div (click)="voltarPage()">
        Voltar
      </div>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="dadosPrivacidade.email"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label floating>Senha atual</ion-label>
      <ion-input type="password" [(ngModel)]="dadosPrivacidade.senhaAtual"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Nova senha</ion-label>
      <ion-input type="password" [(ngModel)]="dadosPrivacidade.novaSenha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confime nova senha</ion-label>
      <ion-input type="password" [(ngModel)]="dadosPrivacidade.confirmacaoNovaSenha"></ion-input>
    </ion-item>
  </ion-list>

  <ion-footer>
   <ion-toolbar>
    <button ion-button color="primary" full icon-left
      [disabled]="!abrirBotao()"
    (click)="adicionar()">Adicionar</button>
   </ion-toolbar>
  </ion-footer>

</ion-content>
