page-compra {
  .transparencia {
    width: 100%;
    height:100%;
    opacity: 0.2;
    color: #000;
    background-color: #E0E0E0;  
  }

  .cardView {
    position: absolute;
    top: 35px;
    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border: 2px solid #000;
    border-radius: 10px;
    z-index: 1000;
  }
    
  .itemCarrinhoDeCompra {
    position: absolute;
    text-align: center;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
    color: #fff;
    font-weight: bold;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagemProdutoEscolha {
    width: 100%;
    position: relative;
    top: 25%;
    transform: translateY(-50%); 
  }

  .iconeLista {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagem {
    height: 250px; 
    margin: 15%;
    text-align: center;
  }

  #notifications-badge {
    background-color: #32db64;
    color: #000;
    position: absolute;
    top: 0px;
    right: 63%;
    margin: 0px;
    border-radius: 100%;
  }

}
