<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comprar</ion-title>
    
    <ion-buttons end style="color: #FFF">
      <label>Etapa 1/3</label>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <div>
      <ion-segment [(ngModel)]="tabName">
        <ion-segment-button outline icon-left value="lista" style="text-transform: none;">
          <ion-icon name="paper"></ion-icon>
            Lista de produtos
        </ion-segment-button>
        <ion-segment-button icon-left value="carrinho" style="text-transform: none;">
          <ion-icon name="cart">
            <ion-badge *ngIf="tabName=='lista'" id="notifications-badge">{{getTotalItens()}}</ion-badge>
          </ion-icon>
          Carrinho (${{getTotalCompra()}}) 
        </ion-segment-button>
      </ion-segment>
    </div>

  </ion-toolbar>
</ion-header>

  <ion-content>
    <div [ngSwitch]="tabName">
      <div *ngSwitchCase="'lista'" (swipeleft)="swipeLeft()" >
         <ion-list>
          <template ngFor let-area [ngForOf]="areas" let-i="index" [ngForTrackBy]="trackByFn">
            <ion-item (click)="toggleDetails(area)">
              <ion-avatar item-left style="margin: 2px;">
                <div class="iconeLista">
                  <img src="assets/img/area/{{area.id}}.png">
                </div>
              </ion-avatar>
              <h2><strong>{{area.nome}}</strong></h2>
              <p *ngIf="!isShowArea(area)">
                <template ngFor let-produto [ngForOf]="area.produtos" let-i="index" [ngForTrackBy]="trackByFn">
                  {{produto.nome}},
                </template>
              </p>

              <template [ngIf]="isShowArea(area)">
                <ion-list no-lines>
                  <button ion-button round block outline 
                  *ngFor="let produto of area.produtos" 
                  (click)="adicionarCard(produto)">{{produto.nome}}</button>
                </ion-list>
              </template>

            </ion-item>
          </template>
        </ion-list>
        
          <ion-card *ngIf="card" class="cardView">
            <ion-card-header style="padding: 0px">
              <ion-navbar color="secondary">
                <ion-title text-bold text-center>{{card.produto.nome}}</ion-title>

                <ion-buttons end>
                  <button ion-button icon-only (click)="fecharCard()">
                    <ion-icon name="close"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-navbar>
            </ion-card-header>

            <ion-card-content style="padding: 0px">
              <!-- Slide com os itens -->

              <ion-slides #mySlider padding>
                <template ngFor let-indice [ngForOf]="card.indices">
                  <ion-slide *ngIf="indice.mostrar">
                    <h2>{{card.produto[indice.chave]}}</h2>
                    <ion-scroll scrollX="false" scrollY="true" style="height: 155px">
                      <template ngFor let-item [ngForOf]="ordenarKeys(keysObjetos[card.produto.nome][indice.chave])">
                        <button ion-button round block outline color="dark"
                          *ngIf="item != ''"
                          [hidden]="ocultaItemKey(indice.chave, item)"
                          (click)="itemSelecionado(indice.chave, item)">
                          {{ item }}
                        </button>
                      </template>
                  </ion-scroll>

                  <ion-grid *ngIf="card.preSelecionado">
                    <ion-row>
                      <ion-col width-50>
                        <div style="text-align: center">
                          <strong>{{ card.preSelecionado?.nome }}</strong>
                        </div>
                      </ion-col>
                      <ion-col width-50>
                        <div text-center>
                          R$ <strong> {{ card.preSelecionado?.preco.toFixed(2) }} </strong>
                          <button ion-button small icon-only *ngIf="card.preSelecionado?.imagemNutricional" (click)="fecharCard()">
                            <ion-icon name="ios-information-circle-outline"></ion-icon>
                          </button>
                          <button ion-button small icon-only *ngIf="card.preSelecionado?.imagemRotulo" (click)="fecharCard()">
                            <ion-icon name="image"></ion-icon>
                          </button>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-slide>
               </template>

               <ion-slide>
                <ion-grid>
                  <ion-row>
                    <ion-col width-50>
                        <img class="imagemProdutoEscolha" src="https://drive.google.com/uc?id={{card.preSelecionado?.imagemRotulo}}"/>
                        <!-- http://muffatosupermercados.vteximg.com.br/arquivos/ids/217508-400-400/biscoito-cream-cracker-marilan-400g-125571.jpg -->
                        <!-- <img class="imagemProdutoEscolha" src="assets/img/codigoDeBarra/{{card.preSelecionado?.codigoDeBarra}}.jpg"/> -->
                        <strong>{{ card.preSelecionado?.nome }}</strong>
                    </ion-col>

                    <ion-col width-50>
                        <div style="text-align: center;" *ngIf="card.preSelecionado">
                            <div><strong>Valor</strong></div>
                            <h5>{{card.preSelecionado?.preco.toFixed(2)}}</h5>
                            <h5 style="border-style: solid; border-bottom-width: 0; border-top-width: 1px; border-right-width: 0; border-left-width: 0">
                            ${{(card.preSelecionado?.preco * card.quantidade).toFixed(2)}}</h5>
                        </div>  
                      <br>
                      <div style="text-align: center">
                        <strong> Quantidade </strong>
                      </div>
                      <div style="text-align: center">
                        <button ion-button icon-only [disabled]="card.quantidade < 2" (click)="removerUnidade()">
                          <ion-icon name="remove-circle"></ion-icon>
                        </button>
                        <button ion-button icon-only (click)="adicionarUnidade()">
                          <ion-icon name="add-circle"></ion-icon>
                        </button>
                        <button style="width: 111px;" ion-button icon-left [disabled]="!card.preSelecionado" color="royal" (click)="colocarItemNoCarrinho()">
                          <ion-icon name="share-alt"></ion-icon>  
                          <ion-icon name="cart"></ion-icon>
                          <strong> {{ card.quantidade }} </strong>
                        </button>
                      </div>      
                    </ion-col>
                  </ion-row>
                </ion-grid>
               </ion-slide>

              </ion-slides>

              
            </ion-card-content>
          </ion-card>
        
      </div>

      <div *ngSwitchCase="'carrinho'" (swiperight)="swipeRight()">

        <div *ngIf="carrinhoDeCompra.length == 0">
					<img class="imagem" src="assets/img/carrinho.jpg" >
					<h3 style="text-align: center"> <strong> O Carrinho está vazio. </strong></h3>
					<h5 style="text-align: center"> Nenhum produto foi adiconado ao carrinho! </h5>
				</div>

        <ion-list>
          <template ngFor let-item [ngForOf]="ordenarCarrinho(carrinhoDeCompra)" let-i="index" [ngForTrackBy]="trackByFn">
            <ion-item>
              <ion-avatar item-left style="margin-right: 5px;">
                <div class="itemCarrinhoDeCompra">
                    <img src="https://drive.google.com/uc?id={{item.item.imagemRotulo}}"/>
                   
                </div>
              </ion-avatar>

              <ion-label style="margin: 7px" (press)="mostrarMaisOpcoes(i)">
                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-75 style="padding: 0px">
                      <h4><strong> {{ item.produto }}</strong></h4>
                    </ion-col>
                    <ion-col width-25 style="padding: 0px"></ion-col>
                  </ion-row>
                </ion-grid>

                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-75 style="padding: 0px">
                      <h5> {{ item.item.nome }}</h5>
                    </ion-col>
                    <ion-col width-25 style="padding: 0px"></ion-col>
                  </ion-row>
                </ion-grid>

                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-75 style="padding: 0px">
                        <strong>{{item.quantidade}}</strong> x R$ {{ item.item.preco.toFixed(2) }}
                    </ion-col>
                    <ion-col width-25 style="padding: 0px">
                      <div style="text-align: right">
                        <strong> R$ {{ (item.item.preco * item.quantidade).toFixed(2) }}</strong>
                      </div>               
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
          </template>
        </ion-list>

          <ion-card *ngIf="cardCarrinho" class="cardView">
            <ion-card-header style="padding: 0px">
              <ion-navbar color="secondary">
                <ion-title text-bold text-center>{{carrinhoDeCompra[cardCarrinho.index].produto}}</ion-title>
                <div style="text-align: center">
                  <strong>{{ carrinhoDeCompra[cardCarrinho.index].item.nome }}</strong>
                </div>

                <ion-buttons end>
                  <button ion-button icon-only (click)="fecharCardCarrinho()">
                    <ion-icon name="close"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-navbar>
            </ion-card-header>

            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col width-25>
                    <div style="text-align: center;">
                      <div style="text-align: right"><strong>Valor</strong></div>
                      <h5 style="text-align: right">{{carrinhoDeCompra[cardCarrinho.index].item.preco.toFixed(2)}}</h5>
                      <h5 style="text-align: right; border-style: solid; border-bottom-width: 0; border-top-width: 1px; border-right-width: 0; border-left-width: 0">
                      ${{(carrinhoDeCompra[cardCarrinho.index].item.preco * carrinhoDeCompra[cardCarrinho.index].quantidade).toFixed(2)}}</h5>
                    </div>  
                  </ion-col>

                  <ion-col width-75>
                  <!-- Botoẽs de quantidade/carrinhoDeCompra -->
                    <div style="text-align: center">
                      <strong> Quantidade </strong>
                    </div>
                    <div style="text-align: center">
                      <button ion-button icon-only (click)="removerUmCarrinho(cardCarrinho.index)">
                        <ion-icon name="remove-circle"></ion-icon>
                      </button>
                      <button ion-button color="royal" (click)="fecharCardCarrinho()">
                        <strong> {{ carrinhoDeCompra[cardCarrinho.index].quantidade }} </strong>
                      </button>
                      <button ion-button icon-only (click)="adicionarUmCarrinho(cardCarrinho.index)">
                        <ion-icon name="add-circle"></ion-icon>
                      </button>
                    </div>      
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>


          <br><br><br><br><br>

      <!-- Fim da Tab Carrinho-->
      </div>

    </div>

  </ion-content>

          <ion-footer *ngIf="carrinhoDeCompra.length > 0 && tabName == 'carrinho'">
            <ion-toolbar>
              <ion-grid>
                <ion-row>
                  <ion-col width-50>
                      <strong> Itens: {{getTotalItens()}} </strong>
                  </ion-col>
                  <ion-col width-50>
                    <div style="text-align: right"><strong>Total: R$ {{getTotalCompra()}}</strong></div>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <!--<button ion-button full color="secondary" (click)="finalizarCompra()">
                <strong> Finalizar compra </strong>
              </button>-->
              <button ion-button full icon-left (click)="finalizarCompra()">
                <ion-icon name="calendar"></ion-icon>
                  Escolher horário de entrega
              </button>
            </ion-toolbar>
          </ion-footer>