<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Obrigado</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>
    <strong>
     Mensagem de agradecimento!!  
    </strong>
  </h5>

</ion-content>
