<ion-header>
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dados do usuário</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

   <ion-card >
      <ion-list-header color="secondary" style="height: 45px">
        <button ion-button icon-only clear item-left color="white">
          <ion-icon name="lock"></ion-icon>
        </button>
        <ion-title text-center (click)="mostrarDadosPrivacidade = !mostrarDadosPrivacidade"><strong style="color: #FFF">Privacidade</strong> </ion-title>
     </ion-list-header>

     <ion-card-content *ngIf="mostrarDadosPrivacidade">
      <ion-item>
        <ion-label floating>E-mail: </ion-label>
        <ion-input type="email" readonly="true" [(ngModel)]="cliente.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha: </ion-label>
        <ion-input type="password" readonly="true" [(ngModel)]="cliente.senha"></ion-input>
      </ion-item>

      <button ion-button color="primary" full icon-left (click)="alterarDadosPrivacidade()">
          <ion-icon name="create"></ion-icon>
          Alterar
        </button>
     </ion-card-content>
  </ion-card>

   <ion-card >
      <ion-list-header color="secondary" style="height: 45px">
        <button ion-button icon-only clear item-left color="white">
          <ion-icon name="person"></ion-icon>
        </button>
        <ion-title text-center (click)="mostrarDadosPessoais = !mostrarDadosPessoais">
          <strong style="color: #FFF">Dados pessoais</strong> </ion-title>
     </ion-list-header>

     <ion-card-content *ngIf="mostrarDadosPessoais">
      <ion-item>
        <ion-label floating>Nome: </ion-label>
        <ion-input type="text" readonly="true" [(ngModel)]="cliente.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefone: </ion-label>
        <ion-input type="text" readonly="true" [(ngModel)]="cliente.telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>CPF: </ion-label>
        <ion-input type="text" readonly="true" [(ngModel)]="cliente.cpf"></ion-input>
      </ion-item>

      <button ion-button color="primary" full icon-left (click)="alterarDadosPessoais()">
          <ion-icon name="create"></ion-icon>
          Alterar
        </button>
     </ion-card-content>
  </ion-card>

   <ion-card >
      <ion-list-header color="secondary" style="height: 45px">
        <button ion-button icon-only clear item-left color="white">
          <ion-icon name="pin"></ion-icon>
        </button>
        <ion-title text-center (click)="mostrarDadosEndereco = !mostrarDadosEndereco">
          <strong style="color: #FFF">Endereços</strong> </ion-title>
     </ion-list-header>

     <ion-card-content *ngIf="mostrarDadosEndereco">
          <template ngFor let-endereco [ngForOf]="cliente.enderecos" let-i="index" [ngForTrackBy]="trackByFn">
          <ion-item-divider detail-push text-wrap (press)=selecionarEndereco(endereco)>
           <strong>
             {{ endereco.rua }}, n° {{ endereco.numero }} - {{ endereco.bairro }}, 
             {{ endereco.cidade.nome }} - {{ endereco.cidade.estado }}, Cep: {{ endereco.cep }}
           </strong>
           <div text-center *ngIf="endereco?.complemento">
           (Complemento: {{endereco?.complemento}})
           </div>
          </ion-item-divider>
        </template>
        <button ion-button color="primary" full icon-left (click)="adicionarEndereco()">
          <ion-icon name="locate"></ion-icon>
          Adicionar endereço
        </button>
     </ion-card-content>
  </ion-card>

</ion-content>
