<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pagamento</ion-title>
    
    <ion-buttons end style="color: #FFF">
      <label>Etapa 3/3</label>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card >
    <ion-list-header color="secondary" style="height: 45px">
      <!--<button ion-button icon-only clear item-left color="white">
        <ion-icon name="ios-archive"></ion-icon>
      </button>-->
      <ion-title text-center><strong style="color: #FFF">Dados da Compra</strong> </ion-title>
    </ion-list-header>

    <!--<ion-card-content padding>-->
    <ion-item (click)="presentPopover($event)">
        <ion-icon name="cart" item-left>
           <ion-badge id="notification-badge">{{getTotalItens()}}</ion-badge>
        </ion-icon>
        Valor dos produtos: <div item-right> R$ {{totalItens}} </div>
    </ion-item>
    <ion-item>
      <ion-icon name="md-car" item-left></ion-icon>
      Taxa de entrega: <div item-right> R$ {{freteLoja}} </div>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-archive" item-left></ion-icon>
      Valor Total: <div item-right> R$ {{totalCompra}} </div>
    </ion-item>
    <!--</ion-card-content>-->
  </ion-card>  

  <ion-card >
    <ion-list-header color="secondary" style="height: 45px">
      <button ion-button icon-only clear item-left color="white">
        <ion-icon name="logo-usd"></ion-icon>
      </button>
      <ion-title text-center><strong style="color: #FFF">Forma de pagamento</strong> </ion-title>
    </ion-list-header>

    <!--<ion-card-content>-->
       <ion-grid>
         <ion-row>
           <ion-col>
             <button ion-button icon-left block [outline]="formaDePagamento != 'Dinheiro'" color="primary" (click)="selecionarFormaDePagamento('Dinheiro')">
                <ion-icon name="cash"></ion-icon>
                Dinheiro
              </button>
           </ion-col>
           <ion-col>
             <button ion-button icon-left block [outline]="formaDePagamento != 'Cartão'"  color="primary" (click)="selecionarFormaDePagamento('Cartão')">
               <ion-icon name="card"></ion-icon>
               Cartão
             </button>
           </ion-col>
         </ion-row>
       </ion-grid>

      <div *ngIf="whoFormaDePagamento('Dinheiro')" text-center>
        <div> Troco para quanto? (R$)</div>
        <template ngFor let-botao [ngForOf]="botoesDinheiro" let-i="index" [ngForTrackBy]="trackByFn">
          <button ion-button [outline]="botao != itemPagamento" color="royal" (click)="selecionarValorPagamento(botao)">
            {{ botao.toFixed(2) }}
          </button>
        </template>
        <br> 
        <div *ngIf="temTroco()"> <strong> Troco: {{(itemPagamento - totalCompra).toFixed(2)}} </strong> </div>
      </div>
      <div *ngIf="whoFormaDePagamento('Cartão')">
        <template ngFor let-cartao [ngForOf]="loja.bandeiraCartao" let-i="index" [ngForTrackBy]="trackByFn">
          
          <button ion-button clear large (click)="selecionarValorPagamento(cartao.bandeira.nome)"
          style="padding-left: 10px; padding-right: 5px;">
            <!--{{ cartao.bandeira.nome }}-->
            <img style="height: 50px; width: 50px; margin-right: auto" src="assets/img/bandeiras/{{cartao.bandeira.nome}}.jpg" 
            [class]="bandeiraCartao(cartao.bandeira.nome)">
          </button>
        </template>
      </div>
      <br>

    <!--</ion-card-content>-->
  </ion-card>  


          <ion-footer>
            <ion-toolbar>
  <button ion-button full icon-left (click)="finalizarCompra()">
     <!--<ion-icon name="ios-archive-outline"></ion-icon>-->
    Concluir compra
  </button>
            </ion-toolbar>
          </ion-footer>

  
</ion-content>
