page-pagamento {
  .filter-grayscale {
    -webkit-filter: grayscale(0.9);
    filter: grayscale(0.9);
  }

  #notification-badge {
    background-color: #387ef5;
    position: absolute;
    top: 0px;
    right: 85%;
    margin: 0px;
    border-radius: 100%;
  }
}
