<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entrega</ion-title>
    
    <ion-buttons end style="color: #FFF">
      <label>Etapa 2/3</label>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

   <ion-card >
      <ion-list-header color="secondary" style="height: 45px">
        <button ion-button icon-only clear item-left color="white">
          <ion-icon name="pin"></ion-icon>
        </button>
        <ion-title text-center><strong style="color: #FFF">Endereço</strong> </ion-title>
        <button ion-button icon-only clear item-right color="white" (click)="enderecoAlterar = !enderecoAlterar">
          <ion-icon name="arrow-dropdown-circle"></ion-icon>
        </button>
     </ion-list-header>

     <ion-card-content>
       <!-- Endereço pré Selecionado -->
       <ion-item detail-push text-wrap text-justify *ngIf="!enderecoAlterar">
          <h2><strong>
          {{ enderecoEscolhido.rua }}, n° {{ enderecoEscolhido.numero }} - {{ enderecoEscolhido.bairro }}, 
          {{ enderecoEscolhido.nomeCidade }} - {{ enderecoEscolhido.nomeEstado }}, Cep: {{ enderecoEscolhido.cep }}
          </strong></h2>
          <div *ngIf="!enderecoEscolhido?.complemento == ''">
              (Complemento: {{ enderecoEscolhido?.complemento }})
          </div> 
        </ion-item>
          
       <!-- Lista de endereços cadastrados -->
       <div *ngIf="enderecoAlterar">
        <template ngFor let-endereco [ngForOf]="enderecos" let-i="index" [ngForTrackBy]="trackByFn">
          <ion-item-divider detail-push text-wrap (click)=selecionarEndereco(endereco)>
           <strong>
             {{ endereco.rua }}, n° {{ endereco.numero }} - {{ endereco.bairro }}, 
             {{ endereco.nomeCidade }} - {{ endereco.nomeEstado }}, Cep: {{ endereco.cep }}
           </strong>
           <div *ngIf="!endereco?.complemento == ''">
              (Complemento: {{ endereco?.complemento }})
          </div> 
          </ion-item-divider>
        </template>
        <button ion-button color="primary" full icon-left (click)="adicionarEndereco()">
          <ion-icon name="locate"></ion-icon>
          Adicionar endereço
        </button>
       </div>
     </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list-header color="secondary" style="height: 45px">
      <button ion-button icon-only clear item-left color="white">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <ion-title text-center><strong style="color: #FFF">Data e Hora</strong> </ion-title>
    </ion-list-header>

     <ion-card-content>
       <!-- Entrega -->
       <ion-grid>
         <ion-row>
           <ion-col>
            <button ion-button [outline]="classDiaSelecionado(diasEntrega[0])" block color="primary" (click)="selecionarDia(diasEntrega[0])">
              {{ mostrarDataMascarada(diasEntrega[0]?.dia)}} <br> ({{getDiaDaSemana(diasEntrega[0]?.dia)}})
            </button>
           </ion-col>
           <ion-col>
             <button ion-button [outline]="classDiaSelecionado(diasEntrega[1])" block color="primary" (click)="selecionarDia(diasEntrega[1])">
              {{ mostrarDataMascarada(diasEntrega[1]?.dia)}} <br> ({{getDiaDaSemana(diasEntrega[1]?.dia)}})
             </button>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col>
            <button ion-button [outline]="classDiaSelecionado(diasEntrega[2])" block color="primary" (click)="selecionarDia(diasEntrega[2])">
              {{ mostrarDataMascarada(diasEntrega[2]?.dia)}} <br> ({{getDiaDaSemana(diasEntrega[2]?.dia)}})
            </button>
           </ion-col>
           <ion-col>
            <button ion-button [outline]="classDiaSelecionado(diasEntrega[3])" block color="primary" (click)="selecionarDia(diasEntrega[3])">
              {{ mostrarDataMascarada(diasEntrega[3]?.dia)}} <br> ({{getDiaDaSemana(diasEntrega[3]?.dia)}})
            </button>
           </ion-col>
         </ion-row>
       </ion-grid>
       <!--<template ngFor let-item [ngForOf]="diasEntrega" let-i="index" [ngForTrackBy]="trackByFn">
          <button ion-button outline color="primary" (click)="selecionarDia(item)">
            {{ mostrarDataMascarada(item.dia)}} <br> ({{getDiaDaSemana(item.dia)}})
          </button>

       </template>-->
       <div *ngIf="diaSelecionado" text-center>
          <strong> A partir de: </strong>
          <br>
          <template ngFor let-turno [ngForOf]="diaSelecionado.turnos" let-i="index" [ngForTrackBy]="trackByFn">
            <button ion-button color="royal" [outline]="turno != turnoEscolhido" *ngIf="mostrarTurno(turno)" (click)="selecionarTurno(turno)">
              {{ turno.entregaInicio }}
            </button>
          </template>
       </div>
     </ion-card-content>
  </ion-card>



          <ion-footer>
            <ion-toolbar>
  <button ion-button full icon-left (click)="escolherFormaDePagamento()">
     <ion-icon name="card"></ion-icon>
    Escolher forma de pagamento
  </button>
            </ion-toolbar>
          </ion-footer>

</ion-content>
