<!--
  Generated template for the CadastroCliente page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cadastro</ion-title>
    
    <ion-buttons end>
      <div (click)="voltarPage()">
        Voltar
      </div>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Nome completo</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input type="number" [(ngModel)]="cliente.cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="cliente.senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha de novo</ion-label>
      <ion-input type="password" [(ngModel)]="cliente.senhaDeNovo"></ion-input>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <button ion-button color="primary" full icon-left
        [disabled]="!abrirBotao()"
        (click)="adicionar()">
        Adicionar
      </button>
    </ion-toolbar>
  </ion-footer>


</ion-content>
