page-compras-realizadas {
  .itemCarrinhoDeCompra {
    position: absolute;
    text-align: center;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #32db64;
    color: #fff;
    font-weight: bold;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
