<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Compras realizadas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
    <div *ngIf="comprasRealizadas?.length == 0">
      <h3 style="text-align: center"> <strong> Não existem compras realizadas. </strong></h3>
			<h5 style="text-align: center"> Não foi encontrado em nosso sistema compras realizadas, 
        clique no botão para fazer a primeira!! </h5>
      <button ion-button full icon-left (click)="fazerCompra()">
        <ion-icon name="cart"></ion-icon>
          Fazer compra
        </button>
		</div>

  <template ngFor let-compra [ngForOf]="comprasRealizadas" let-i="index" [ngForTrackBy]="trackByFn">
    <ion-card >
      <ion-list-header [color]="corCard(compra.compra_entrega.situacao)" style="height: 45px">
        <button ion-button icon-only clear item-left color="white">
          <ion-icon [name]="iconeCard(compra.compra_entrega.situacao)"></ion-icon>
        </button>
        <ion-title text-center text-capitalize><strong style="color: #FFF">{{compra.compra_entrega.situacao}}</strong> </ion-title>
     </ion-list-header>

     <ion-card-content>
       <h6 text-center><strong> Compra: {{ compra.created_at | date: "dd/MM 'ás' H:mm" }}</strong></h6>
       <h6 text-center><strong> Entrega: {{ compra.compra_entrega.turno.dia.dia | date: "dd/MM" }} 
         á partir das {{ compra.compra_entrega.turno.entregaInicio }} </strong></h6> <br>
      <h6 text-center> Endereço: 
        {{ compra.compra_entrega.endereco.rua }}, n° {{ compra.compra_entrega.endereco.numero }} - {{ compra.compra_entrega.endereco.bairro }}, 
        {{ compra.compra_entrega.endereco.cidade.nome }} - {{ compra.compra_entrega.endereco.cidade.estado }}, Cep: {{ compra.compra_entrega.endereco.cep }}</h6>
        <h6 text-center><strong>(R${{ compra.compra_entrega.taxaDeEntrega.toFixed(2) }})</strong></h6>


        <ion-card style="margin: 0px; margin-top: 10px">
          <ion-list-header color="primary" style="height: 45px;margin-bottom: 0px;">
        <button ion-button icon-only clear item-left color="white">
          <ion-icon name="pricetags"></ion-icon>
        </button>
        <ion-title text-center (click)="toggleDetails(compra.id)"><strong style="color: #FFF">Item(s)</strong> </ion-title>
     </ion-list-header>

     <ion-card-content style="padding: 0px" *ngIf="isShowCompra(compra.id)">
        <template ngFor let-item [ngForOf]="compra.itens" let-i="index" [ngForTrackBy]="trackByFn">
            <ion-item>
              <ion-avatar item-left style="margin-right: 5px;">
                <div class="itemCarrinhoDeCompra">
                  {{item.quantidade}}
                </div>
              </ion-avatar>

              <ion-label style="margin: 7px">
                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-75 style="padding: 0px">
                      <h4><strong> {{item.loja_item.item.produto.nome}}</strong></h4>
                    </ion-col>
                    <!--<ion-col width-25 style="padding: 0px"></ion-col>-->
                  </ion-row>
                </ion-grid>

                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-75 style="padding: 0px">
                      <h6> {{item.loja_item.item.nome}}</h6>
                    </ion-col>
                    <!--<ion-col width-25 style="padding: 0px"></ion-col>-->
                  </ion-row>
                </ion-grid>

                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-60 style="padding: 0px">
                      <h6>
                      x R$ {{ item.preco.toFixed(2) }}
                      </h6>
                    </ion-col>
                    <ion-col width-40 style="padding: 0px">
                      <div style="text-align: right">
                        <h6>
                        R$<strong> {{ (item.preco * item.quantidade).toFixed(2) }}</strong>
                        </h6>
                      </div>               
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>

        </template>
     </ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col width-20>
                    <div text-center style="border-style: solid; border-bottom-width: 0; border-top-width: 1px; border-right-width: 0; border-left-width: 0">
                      <strong> {{ getQuantidadeItens(compra.itens)}} </strong>
                    </div>
                  </ion-col>
                  <ion-col width-80>
                    <div style="text-align: right; border-style: solid; border-bottom-width: 0; border-top-width: 1px; border-right-width: 0; border-left-width: 0">
                      <strong>R$ {{ getTotalCompra(compra.itens)}}</strong></div>
                  </ion-col>
                </ion-row>
              </ion-grid>
 
    </ion-card>
   </ion-card-content>

    <ion-grid style="padding: 0px">
      <ion-row>
        <ion-col width-30>
          <ion-row>
            <ion-col style="padding: 0px">
              <div text-center>                      
                <strong> Total geral</strong>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0px">
              <div text-center>                     
                (Compra + Frete)
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0px">
              <div text-center>
                <strong> R$ {{ getTotalCompraComFrete(compra.itens, compra.compra_entrega.taxaDeEntrega)}} </strong>
              </div>
            </ion-col>
          </ion-row>                    
        </ion-col>

        <ion-col width-70>
          <ion-row>
            <ion-col style="padding: 0px">
              <div text-center>    
                <strong> Forma de pagamento</strong>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0px">
              <div text-center *ngIf="compra.formaPagamento == 'Dinheiro'">
                <strong> {{compra.formaPagamento}}: R$ {{compra.itemPagamento | number : '1.2-2'}}</strong>
              </div>
              <div text-center *ngIf="compra.formaPagamento == 'Cartão'">
                <strong> {{compra.formaPagamento}}: {{compra.itemPagamento}}</strong>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0px">
              <div text-center *ngIf="compra.formaPagamento == 'Dinheiro'">
                Troco: R$ {{(compra.itemPagamento - getTotalCompraComFrete(compra.itens, compra.compra_entrega.taxaDeEntrega)) | number : '1.2-2'}}
              </div>
            </ion-col>
          </ion-row>            
        </ion-col>

      </ion-row>
    </ion-grid>
    <br>
  </ion-card>

  </template>
  
</ion-content>
