<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Sobre</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-list> 
    <ion-item (click)="irTermoDeUso()">
        Termo de uso      
    </ion-item>
    <ion-item (click)="irPoliticaPrivacidade()">
        Política de privacidade      
    </ion-item>    
  </ion-list>
  <h1> Sobre </h1>
  <p> Endereço </p>
  <p> Contato </p>
</ion-content>