<!--
  Generated template for the ClienteDadosPessoais page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="person"></ion-icon>
    </button>
    <ion-title>Dados Pessoais</ion-title>
    
    <ion-buttons end>
      <div (click)="voltarPage()">
        Voltar
      </div>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="dadosPessoais.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input type="number" [(ngModel)]="dadosPessoais.telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input type="number" [(ngModel)]="dadosPessoais.cpf"></ion-input>
    </ion-item>
  </ion-list>

  <ion-footer>
   <ion-toolbar>
    <button ion-button color="primary" full icon-left
      [disabled]="!abrirBotao()"
    (click)="adicionar()">Adicionar</button>
   </ion-toolbar>
  </ion-footer>
</ion-content>
