<!--
  Generated template for the CadastroEndereco page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cadastro Endereço</ion-title>
    
    <ion-buttons end>
      <div (click)="voltarPage()">
        Voltar
      </div>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--<button ion-button full icon-left color="secondary" *ngIf="!isLocalizacao()" (click)="getMinhaLocalizacao()">
     <ion-icon name="locate"></ion-icon>
    Minha Localização
  </button>
  <button ion-button full icon-left color="secondary" *ngIf="isLocalizacao()" (click)="digitarEndereco()">
     <ion-icon name="create"></ion-icon>
    Digitar endereço
  </button>-->
  <ion-list>
    <ion-item>
      <ion-label floating>Rua</ion-label>
      <ion-input type="text" [readonly]="isLocalizacao()" [(ngModel)]="endereco.rua"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Bairro</ion-label>
      <ion-input type="text" [readonly]="isLocalizacao()" [(ngModel)]="endereco.bairro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Número</ion-label>
      <ion-input type="number" [(ngModel)]="endereco.numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Complemento</ion-label>
      <ion-input type="text" [(ngModel)]="endereco.complemento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Cep</ion-label>
      <ion-input type="text" [readonly]="isLocalizacao()" [(ngModel)]="endereco.cep"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Cidade</ion-label>
        <ion-select [(ngModel)]="endereco.cidade_id" [disabled]="isLocalizacao()">
          <template ngFor let-cidade [ngForOf]="cidades" let-i="index" [ngForTrackBy]="trackByFn">
            <ion-option [value]="cidade.id" [selected]="endereco.cidade_id == cidade.id">{{cidade.nome}}, {{cidade.estado}}</ion-option>
          </template>
        </ion-select>
    </ion-item>

    <!--<button ion-button color="secondary" full icon-left
      [disabled]="!abrirBotao()"
    (click)="adicionar()">Adicionar</button>-->

  </ion-list>

          <ion-footer>
            <ion-toolbar>
    <button ion-button color="primary" full icon-left
      [disabled]="!abrirBotao()"
    (click)="adicionar()">Adicionar</button>
            </ion-toolbar>
          </ion-footer>

</ion-content>
