
    <ion-list>
      <ion-list-header style="margin-bottom: 0px">Itens Carrinho</ion-list-header>

        <template ngFor let-item [ngForOf]="carrinhoDeCompra" let-i="index" [ngForTrackBy]="trackByFn">
            <ion-item  style="padding: 0px">
              <ion-label style="margin: 7px" (press)="mostrarMaisOpcoes(i)">
                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-75 style="padding: 0px">
                      <h4><strong> {{ item.produto }}</strong></h4>
                    </ion-col>
                    <ion-col width-25 style="padding: 0px"></ion-col>
                  </ion-row>
                </ion-grid>

                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-75 style="padding: 0px">
                      <h5> {{ item.item.nome }}</h5>
                    </ion-col>
                    <ion-col width-25 style="padding: 0px"></ion-col>
                  </ion-row>
                </ion-grid>

                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col width-75 style="padding: 0px">
                      {{item.quantidade}} x R$ {{ item.item.preco.toFixed(2) }} = 
                      <strong> R$ {{ (item.item.preco * item.quantidade).toFixed(2) }}</strong>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>

        </template>
        
    </ion-list>