<ion-header>
        <ion-navbar color="primary">
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Política de Privacidade</ion-title>
          
        </ion-navbar>
</ion-header>
<ion-content>
  <h1> Política de Privacidade</h1>
</ion-content>